<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655800968576-dto1j2oc1dre3p3lvaop527n3iohmbrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655800968576-dto1j2oc1dre3p3lvaop527n3iohmbrc</string>
	<key>API_KEY</key>
	<string>AIzaSyCaKtZQ7iJcypGwLPcZGeX7Ay1vP7om6RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>655800968576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebookApp</string>
	<key>PROJECT_ID</key>
	<string>trialchatapp-8a29b</string>
	<key>STORAGE_BUCKET</key>
	<string>trialchatapp-8a29b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655800968576:ios:410ece96e06a0b6d434d65</string>
	<key>DATABASE_URL</key>
	<string>https://trialchatapp-8a29b-default-rtdb.firebaseio.com</string>
</dict>
</plist>